<div class="tabs">
  <div class="tab" data-link="/pages/cards.html">
    <img src="/icons/dumbbell.svg" class="tab-icon"> Workout
  </div>
  <div class="tab" data-link="/pages/preview.html">
    <img src="/icons/overview.svg" class="tab-icon"> Übersicht
  </div>
  <div class="tab" data-link="/pages/history.html">
    <img src="/icons/history.svg" class="tab-icon"> History
  </div>
  <div class="tab" data-link="/pages/settings.html">
    <img src="/icons/settings.svg" class="tab-icon"> Settings
  </div>
</div>


<script>
document.querySelectorAll('.tab').forEach(tab => {

  const fileName = tab.dataset.link.split('/').pop();
  const current = window.location.pathname.split('/').pop();

  if(current === fileName){
    tab.classList.add('active');
  }

  tab.addEventListener('click', () => {
    window.location.href = tab.dataset.link;
  });
});
</script>
