<div class="tabs">
  <div class="tab" data-link="../pages/cards.html">
    <img src="../icons/dumbbell.svg" alt="Workout Icon" class="tab-icon"> Workout
  </div>
  <div class="tab" data-link="../pages/preview.html">
    <img src="../icons/overview.svg" alt="Übersicht Icon" class="tab-icon"> Übersicht
  </div>
  <div class="tab" data-link="../pages/history.html">
    <img src="../icons/history.svg" alt="History Icon" class="tab-icon"> History
  </div>
  <div class="tab" data-link="../pages/settings.html">
    <img src="../icons/settings.svg" alt="Settings Icon" class="tab-icon"> Settings
  </div>
</div>


<script>
// Set active tab based on current page
document.querySelectorAll('.tab').forEach(tab => {
  if(window.location.pathname.endsWith(tab.dataset.link.split('/').pop())){
    tab.classList.add('active');
  }

  tab.addEventListener('click', () => {
    window.location.href = tab.dataset.link;
  });
});
</script>
